* {
    max-width:100%;
    box-sizing: border-box;
    /* margin:0; */
  }
#vintage_cars_heading {
    text-align: center;
    text-transform: uppercase;
    color:rgb(18, 114, 114);
}

.imgsize {
    width: 12rem !important;
    height: 15rem !important;
}
.container {
    width: 100%;
    justify-content: center;
}
/* .container .container {
width: 70%;
} */
.cards {
     display: grid;
     justify-content: center;
     padding: 0;
    
     }
 .card {
         /* grid-gap:0px 0px; */
         border-radius: 10% ;
         display: flex;
         justify-content: center;
        }
    
#enquiries {
        background-color: lightgrey;
        justify-content: center;
}

/* @media  screen and (max-width: 300px) {
   .container{
 /* justify-content: space-between; */
 /* flex-wrap: wrap;
    }
   
  }
     */ 
  .backtotop {
      text-align: right;
  }
   
   